<div class="modal-header">
	<h3 class="modal-title">Fund Details</h3>
</div>
<div class="modal-body">
	<label for='idEditResearcher'>Researcher</label>
	<input id='idEditResearcher' type='text' name='researcher' class='form-control' ng-model='fund.researcher' readonly></input>

	<label for='idEditEmail'>Email</label>
	<input id='idEditEmail' type='email' name='email' class='form-control' ng-model='fund.email' ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" readonly></input>
	
	<div class='panel panel-primary'>
		<h1 class='panel-heading'>Reports</h1>
		<p ng-show='fund.reports.length > 0'>Below are the list of reports that have been created:</p>
		<p ng-show='fund.reports.length < 1'>Created reports will be displayed here.</p>

		<table ng-show='fund.reports.length > 0' st-table='rowCollection' class='table table-striped table-hover'>
			<thead>
				<tr>
					<th>Study</th>
					<th>Files</th>
					<th>Status</th>
					<th>Issues</th>
					<th>Links</th>
					<th>Privacy</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='report in fund.reports'>
					<td>{{report.study}}</td>
					<td class='btn-group'>
						<a href='{{report.link}}' class='btn btn-default' type='button' title='Latest Version' ng-disabled='!report.link'>
								<i class='glyphicon glyphicon-fire'></i>
						</a>
					
						<a href='{{report.detaillink}}' class='btn btn-default' type='button' title='Details' ng-disabled='!report.detaillink'>
								<i class='glyphicon glyphicon-eye-open'></i>
						</a>

						<a href='{{report.dmplink}}' class='btn btn-default' type='button' title='Data Management Plan' ng-disabled='!report.dmplink'>
								<i class='glyphicon glyphicon-road'></i>
						</a>
						
						<a href='{{report.prereglink}}' class='btn btn-default' type='button' title='Pre-Registered Version' ng-disabled='!report.prereglink'>
								<i class='glyphicon glyphicon-pushpin'></i>
						</a>
					</td>
					<td>{{getStatus(report)}}</td>
					<td ng-hide='getIssues(report).length > 0'>None</td>
					<td ng-hide='getIssues(report).length < 1'>Issues Found<span class="badge pull-right help" title='{{getIssues(report).join()}}'>i</span></td>

					<td class='btn-group'>
						<a href='{{report.citations}}' class='btn btn-default' type='button' title='Citation to Final Publication' ng-disabled='!report.citations'>
								<i class='glyphicon glyphicon-book'></i>
						</a>
					
						<a href='{{report.subbmittedpublic}}' class='btn btn-default' type='button' title='Submitted to Public Archive' ng-disabled='!report.subbmittedpublic'>
								<i class='glyphicon glyphicon-cloud'></i>
						</a>
					</td>
					
					<td>
						<button class='btn btn-default' type='button' title='Publish'>
								<i class='glyphicon glyphicon-lock'></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="close()">Close</button>
</div>
